<form id="schedule-form" (ngSubmit)="onSubmit()" #form="ngForm">
  <fieldset>


    <!-- starttime input -->
    <div class="form-group mb-3">
      <label class="control-label" for="startTime">StartTime</label>
      <input id="startTime" name="startTime" type="Date" class="form-control" [(ngModel)]="schedule.startTime"
             #startTime="ngModel">
    </div>

    <!-- endtime input -->
    <div class="form-group mb-3">
      <label class="control-label" for="endTime">endTime</label>
      <input id="endTime" name="endTime" type="Date" class="form-control" [(ngModel)]="schedule.endTime"
             #endTime="ngModel">
    </div>

    <!-- Buttons -->
    <div class=" form-group fa-pull-right">
      <button id="listBtn" type="button" [routerLink]="['/schedules']"
              class="btn btn-outline-primary pull-right">Back
      </button>
      <button id="submit" type="submit" [disabled]="!form.form.valid"
              class="btn ms-3 btn-success pull-right">Submit
      </button>
    </div>

  </fieldset>
</form>
