<div class="d-flex w-full justify-content-end mb-3">
  <button
        id="createCat"
        type="button"
        [routerLink]="['/cats/create']"
        class="btn btn-success ms-3"
      >
        <i class="fa fa-plus-circle me-2"></i>
        Create
  </button>
</div>
<div class="card mb-1" *ngFor="let cat of cats">
    <div class="card-block row m-1 col-12">
      <div class="card-body row align-items-center">
        <div class="col-6 mt-1">
          <h6 class="card-subtitle text-muted">Name</h6>
          <a class="card-text" [routerLink]="['/cats', cat.id]">{{cat.name}}</a>
        </div>
        <div class="col-6 mt-1">
          <h6 class="card-subtitle text-muted">Chip</h6>
          <p class="card-text">{{cat.chip}}</p>
        </div>
      </div>
    </div>
  </div>
  
  <ngb-pagination class="d-flex justify-content-center"
                  [(page)]="page" [pageSize]="pageSize" [collectionSize]="totalCats"
                  (pageChange)="changePage()"></ngb-pagination>
  